@{
    ViewData["Title"] = "Home Page";
}
<div class="jumbotron jumbotron-fluid" style="background-image: url('/images/library-background.jpg'); background-size: cover; background-position: center; height: 400px;">
    <div class="container text-white">
        <h1 class="display-4">Welcome to MyLibrary</h1>
        <p class="lead">A variety of books</p>
        <a href="/Book" class="btn btn-primary btn-lg">View Books</a>
        <a href="/Book/Create" class="btn btn-success btn-lg">Add New Book</a>
    </div>
</div>
